@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 90%;
	background-color: #4e4e4e;
	font-family: 'Noto Sans KR', sans-serif;
}

header {
	height : 100px;
	background-color: #4e4e4e;
}

.footer_text {
	width : 130px;
	color : #a0a0a0;
	font-zise : 15px;
	margin : 0 auto;
}

.contents {
	display: table;
	height: 100%;
	margin: auto;
}

.main {
	padding : 10px 0 0 0;
	margin: auto;
	width: 100%;
	height: 100%;
	display: table-cell;
}



.header_box {
	width : 1080px;
	height : 100px;
	margin : 50px auto;
	text-align : center;
	
}

.logo {
	height : 100px;
	width : auto;
}


.signup_input {
	box-sizing: border-box;
	height: 50px;
	width: 500px;
	padding : 10px;
	margin: 10px auto;	
	border : 2px solid black;
	
}
.signup_input:focus{
	outline : 0;
	background-color : #e9e9e9;
}

.signup_submit {
	display : block;
	font-size : 15px;
	font-weight : bold;
	color : white;
	cursor : pointer;
	box-sizing: border-box;
	background-color: blue;
	height: 50px;
	width: 100%;
	margin: 30px auto;
	border : 0;
	transition-duration : 0.3s;
}

.signup_submit:hover {
	background-color : #006cf0;
}

.signup_submit:focus{
	background-color : #018aef;
}

#warning_message{

	color : white;
}